/*

dark color = #383838
light color = #f2f2f2

aqua = #59d6d6
orange = #ff7219

*/

/*-------------------------------------*/
/* VARIABLES */
/*-------------------------------------*/
:root {
    --highlight-color :#ff7219; 
    --page-color : #f2f2f2;
}

/*-------------------------------------*/
/* FONTS */
/*-------------------------------------*/

@font-face {
	font-family: Glyphter;
    src : url(Glyphter.woff);
}

/*-------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------*/

* {
    box-sizing: border-box;
    font-size: 20px;    
}

html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    letter-spacing: 1.5px;
    background-color: var(--page-color);

}

/*******BASIC-RULES*********/

ul { 
    padding-left: 0; 
    list-style: none;
}


a:link,
a:visited{
    text-decoration: none;
}

a:hover,
a:active{
    text-decoration: none;
}

br {
    content: "";
    display: block;
    margin: 5px 0px;
}

/*-------------------------------------*/
/* REUSABLE COMPONENTS */
/*-------------------------------------*/

/*---------------UP-------------*/
/*--------------DARK-------------*/
.dark:link,
.dark:visited,
.dark-box{
    font-size: 85%;
    border-radius: 10px;
    background: linear-gradient(145deg, #323232, #3c3c3c);
    box-shadow:  5px 5px 10px #282828, 
                 -5px -5px 10px #484848;
}

/*--------------LIGHT-------------*/
.light:link,
.light:visited,
.light-box{
    font-size: 85%;
    border-radius: 10px;
    background: linear-gradient(145deg, #dadada, #ffffff);
    box-shadow:  5px 5px 10px #acacac, 
                 -5px -5px 10px #ffffff;
}


/*--------------------------------*/


.btn:link,
.btn:visited{
    display: block;
    padding: 10px;
    text-align: center;
    color: var(--highlight-color);
    transition: background 0.2s, box-shadow 0.1s, color 0.2s;  
    width:100%;
}

.btn:hover{
    color: #fff;
    background: var(--highlight-color);
}
.btn:active{
    color: var(--highlight-color);
}

/*--------------DOWN--------------*/
/*--------------DARK-------------*/

.dark-division,
.dark:active{
    border-radius: 10px;
    background: #383838;
    box-shadow: inset 5px 5px 10px #282828, 
                inset -5px -5px 10px #484848;
}
/*--------------LIGHT-------------*/

.light-division,
.light:active{
    border-radius: 10px;
    background: #f2f2f2;
    box-shadow: inset 5px 5px 10px #acacac, 
                inset -5px -5px 10px #ffffff;
}

/*--------------------------------*/


/*-------------ICON--------------*/
.icon{
    display: inline-block;
    line-height: 120%;
    vertical-align: middle;
    margin-top: 3px;
    margin-left: 2px;
    -webkit-text-stroke: 0.5px;
    background-clip:content-box;
}

.icon-font {
    font-family: Glyphter;
    font-size: 40px;
    -webkit-text-stroke: 1px;
}



.day{
    color: #ff7219;
    cursor: pointer;
}


.night{
    color: #59d6d6;
    cursor: pointer;
}


/*-------------HEADINGS--------------*/

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 100%;
    margin: 20px auto 20px auto;
    color: #ff7219;
    font-weight: 100;
}

/*-------------PARAGRAPH--------------*/

p {
   font-size: 50%;
    margin: 0px auto;   
}

/*-------------------------------------*/
/* HEADER */
/*-------------------------------------*/

/*-Main-box-*/

.main-box {
    display: block;
    width: 500px;
    height: 600px;
    margin: auto;
    padding-top: 10px;
}

/*-switch-mode-*/

.switch-mode{
/*    float: right;*/
    margin-left: 77%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input{
    opacity: 0;
    height: 0;
    width: 0;
}

.slider {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius: 36px;
    background: #f2f2f2;
    box-shadow: inset 5px 5px 10px #acacac, 
        inset -5px -5px 10px #ffffff;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background: linear-gradient(145deg, #e6761a, #ff8c1f);
    box-shadow:  1px 1px 3px #ffffff, 
                -1px -1px 3px #acacac;    
    transition: 0.4s
}

input:checked + .slider {
  background-color: #383838;
  box-shadow: inset 5px 5px 10px #282828, 
              inset -5px -5px 10px #484848;
}

input:checked + .slider:before {
    transform: translate(16px,0px);
    background: linear-gradient(145deg, #50c1c1, #5fe5e5);
    box-shadow:  1px 1px 3px #484848, 
                -1px -1px 3px #282828;
    
}
/*--------------/

/*-Audioinput-*/

.audio-input {
    text-align: center;
}


.audio-options li {
    display: inline-block;
    width: 15%;
}

.audio-options li:first-child{
    margin-right: 3%;
}

.audio-options li:last-child{
    margin-left: 3%;
}



/*----HORIZONTAL LINE----*/
.division {
    display: block;
    height: 6px;
    content: " ";
    width: 200px;
    margin: 10px auto 35px auto; 
}



/*-extra-options-*/

.extra-options,
.light-option li{
    width: 30%;
    margin: 5% 35%;
}

/*-main-options-*/


.light-option li:first-child {
    margin-top: -18px;
}

